<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <%= f.text_field :email %>
  <br>
  <%= f.label "Email" %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label "Password" %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.label "Password Confirmation" %>
  <br>
  <%= f.submit "Sign Up" %>
<% end %>