<h1>Reviewer: <%= @review.author %></h1>
<h2>Product: <%= @product.name %></h2>
<h4>Rating: <%= @review.rating %> stars</h4>
<h3><%= @review.content_body %></h3>

<p><%= link_to "Return to product", product_path(@product) %></p>