<!DOCTYPE html>
<html>
  <head>
    <title>Marios Food Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <% if current_user %>
            <%= current_user.email %> | <%= link_to "Sign out", signout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> | <%= link_to "Sign in", signin_path %>
          <% end %>
          <nav class="navbar navbar-light bg-light">
            <%= flash[:alert] %>
            <%= flash[:notice] %>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/products">Products</a>
          </nav>
          <%= yield %>
        </div>
        <div class="col-md-4">
          <h5>Recent Products</h5>
            <ul>
              <% Product.three_recent.each do |product| %>
              <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
          <h5>Most Reviewed</h5>
            <ul>
              <% Product.most_reviewed.each do |product| %>
                <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </body>
</html>
